<div class="sh-logopanel">
  <a href="" class="sh-logo-text"><img src="assets/img/logo-admin.png" class="img-fluid" alt=""></a>
  <a id="navicon" href="" class="sh-navicon d-none d-xl-block"><i class="icon ion-navicon"></i></a>
  <a id="naviconMobile" href="" class="sh-navicon d-xl-none"><i class="icon ion-navicon"></i></a>
</div><!-- sh-logopanel -->

<div class="sh-sideleft-menu">
  <label class="sh-sidebar-label">Navigation</label>
  <ul class="nav">
    <li class="nav-item">
      <a href="index.html" class="nav-link">
        <i class="icon ion-ios-home-outline"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="" class="nav-link with-sub active">
        <i class="icon ion-ios-bookmarks-outline"></i>
        <span>Pages</span>
      </a>
      <ul class="nav-sub">
        <li class="nav-item"><a href="blank.html" class="nav-link active">Blank Page</a></li>
      </ul>
    </li><!-- nav-item -->
  </ul>
</div><!-- sh-sideleft-menu -->